<% include partials/header %>
<% include partials/navigation %>
<div>
  <select name="course">
      <option value="" selected disabled hidden>units</option>
      <option value="COM">COM</option>
      <option value="eds">eds</option>
      <option value="acs">acs</option>
      <option value="age">age</option>
  </select>
</div>
<div>
  <select><option value="" selected disabled hidden>units</option>
    <option value="ACS 100">ACS100</option>
    <option value="ACS200">ACS200</option>
    <option value="ACS 100">ACS110</option>
    <option value="ACS200">ACS210</option>
    <option value="ACS 100">ACS111</option>
    <option value="ACS200">ACS200</option>
    <option value="ACS 100">ACS113</option>
    <option value="ACS200">ACS 220</option>
    <option value="ACS 100">ACS120</option>
    <option value="ACS200">ACS 400</option>
      <option value="com 100">com100</option>
      <option value="com200">com 200</option>
      <option value="com 100">com110</option>
      <option value="com200">com 210</option>
      <option value="com 100">com111</option>
      <option value="com200">com 200</option>
      <option value="com 100">com 113</option>
      <option value="com200">com 220</option>
      <option value="com 100">com120</option>
      <option value="com200">com 400</option>

    </select>
</div>


<FORM:post>
<!-- <div>
  //list from db
</div> -->
<button value="Submit">SUBMIT</button>
</FORM:post>







