<% include partials/header %>
<% include partials/navigation %>

    <div>
        <select>
            <!-- from database -->
        </select>
        <button type="button" onclick="location.href='/lecturer/class/start';" value="Go to class session">START</button>
        <button type="button" onclick="location.href='/lecturer/class/report';" value="Go to report as per class">REPORT</button>
    </div>

<% include partials/footer %>