<% include partials/header %>
<% include partials/navigation %>

    <div>
        <button type="button" onclick="location.href='/lecturer/register-units';" value="Go to REGISTER">REGISTER UNIT</button>
        <button type="button" onclick="location.href='/lecturer/class';" value="Go to CLASS">CLASS</button>
        <button type="button" onclick="location.href='/lecturer/report';" value="Go to REPORT">REPORT</button>
    </div>

<% include partials/footer %>