<% include partials/header%>
<head>
     <link rel="stylesheet" href="./stylesheet/sign.css">
    <link rel="stylesheet" href="./stylesheet/bootstrap.min.css">
    <script src="./scripts/signin.js"></script>
     <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>   -->
</head>

    <title> <%= title %>> </title>
    <div class="container-fluid">
   <div> <form class="signIn">
        <h3>Welcome</br>Back !</h3>
        
        <input type="email" class="emailbox2" placeholder="Insert eMail" autocomplete='off' required />
        <input type="password" placeholder="Insert Password" required />
    
        <button class="form-btn sx back" type="button">Back</button>
        <button class="form-btn dx" type="submit">Log In</button>
    </form></div>
    </div>

    <%include partials/footer%>