% include partials/header %>
<% include partials/navigation %>

    <div>
        <button type="button" onclick="location.href='/student/class';" value="Go to unit">YEAR</button>
        <button type="button" onclick="location.href='/student/class';" value="Go to CLASS">SELECT A COURSE</button>
        <button type="button" onclick="location.href='/student/report';" value="Go to REPORT">uCHOOSE A UNIT</button>
    </div>

<% include partials/footer %>